body {
  background-color: #ffcc99;
  color: olive;
}

img {
  height: 400px;
  width: 400;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button {
  height: 50px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: green;
  padding: 10px;
  margin: 20px;
}