<!DOCTYPE html>
<html>
<head>
  <title>Lamplighter Apartments of Omaha</title>
  
   <link rel="stylesheet" href="/stylesheet.css" type="text/css" media="screen"       title="no title" charset="utf-8">
 <script src="/script.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <%= yield %>
</body>
</html>